{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/post.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
  {% endblock %}

{% block content %}
<div class="head" >
    <h1>{{ post.title }}</h1>
    <h2>{{ post.subtitle }}</h2>
    <h3>Posted by <span>{{ post.author }}</span> on <span>{{ post.date_of_post.strftime('%b %d, %y') }}</span></h3>
</div>
<div class="container content">
    {{ post.blog_content }}
</div>
{% endblock %}



